
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f7f2fa;
  background-color: #121127;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18rem;
}

.container img{
  transition: animation 0.1s;
}

.container img:hover{
  animation: wiggle 0.2s infinite;
}

@keyframes wiggle {
  0%   {rotate: 0deg;}
  20%, 60%  {rotate: -5deg;}
  40%,80% {rotate: 5deg;}
  60% {rotate: -5deg;}
  80% {rotate: 5deg;}
  100% {rotate: 0deg;}
}


